/* 1. Import font từ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --backGround-color: #fffffe;
    --backGround-secondary-color: #d8eefe;
    --text-title-color: #094067;
    --text-color: #5f6c7b;
    --height-header: 110px;
    --height-navi: 50px;
}

/* 2. Reset CSS và áp dụng font chữ toàn cục */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Áp dụng Quicksand cho tất cả các thẻ */
    font-family: 'Quicksand', sans-serif;
}

html {
    /* CSS chuẩn không dùng // để comment, phải dùng /* */
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
}

body {
    background-color: var(--backGround-color);
    color: var(--text-color);
    line-height: 1.5;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* 3. Tùy chỉnh thanh cuộn (Scroll bar) */
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ced0da;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bfc2cf;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* 4. CSS cho thư viện Swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
